html *
{
   color: #EAEAEA;
   background-color: #333333;
}

::-webkit-scrollbar {
    width:12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    border-radius:10px;
}

::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(0,0,0,0.3);
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}

*{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";}
        .button {
            font-family: proxima_nova_softsemibold;
            user-select: none;
            margin-left: 5px;
            background-color: #ffd602;
            color: #333;
            display: -webkit-inline-box;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            border-radius: .25rem;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
            font-size: 2rem;
            font-weight: 10px;
            line-height: 30px;
            transition-property: all;
            transition-duration: .1s;
            padding: .5rem 1rem;
        }
        #displayer{
            width:500px;
            height:165px;
            background: #444444;
            margin:auto;
            margin-top:50px;
            font-size:90px;
            text-align:center;
        }
        #calllist p{
            width:100%;
            font-size:24px;
            padding-left:20px;
        }

#save {
    margin-left: 5px;
    background-color: #ffd602;
    color: #333;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: .25rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    font-size: .875rem;
    font-weight: 600;
    transition-property: all;
    transition-duration: .1s;
    padding: .5rem 1rem;
}