html *
{
   font-size: 1em !important;
}

*{margin: 0;padding: 0;}
        a{text-decoration: none;}
        ul,li{list-style: none;}
        body{font-size: 14px;font-family: "微软雅黑";}
        .button {
        width:100px;
        height:30px;
        background:#E27575;
        border:none;
        border-radius:3px;
        box-shadow:1px 1px 5px #B6B6B6;
        color:#FFF;
        display:inline-block;
        cursor:pointer;
        text-align:center;
        text-shadow:1px 1px 1px #9E3F3F;
        line-height:30px;
        margin:10px;
        }
        .button:hover {
            background: #CF7A7A;
        }
        #displayer{
            width:500px;
            height:165px;
            background: #F7F7F7;
            margin:auto;
            margin-top:50px;
            font-size:90px;
            text-align:center;
        }
        #calllist p{
            width:100%;
            font-size:24px;
            padding-left:20px;
        }

#Boxs {
    padding-top: 30px;
}